page-friends {
	.item-input{
		padding-left: 0 !important;
	.item-inner {
		padding-right: 0 !important;
		ion-input {
			background-color: #f6f6f6;
			padding: 0;
			}
		}
	}
	.add_friend {
		display: flex;
		align-items: center;
	}

	button {
		font-size: 16px;
		background-color: white;
		border: 1px blue solid;
		padding: 8px 10px;
		border-radius: 7px;
	}

	ion-spinner {
		width: 100%;

		circle {
			stroke: blue !important;
		}
	}

	.list-md .item-block .item-inner {
		border-bottom: none;
	}

	.user-picture {
		img{
			border-radius: 50%;
		}
	}

	.ion-col-helps {
		background-color: white;
		text-align: center;
		.helps_given{
			font-size: 23px;
			font-weight: 600;
			color: cornflowerblue;
		}

		.helps_given_text{
			font-size: 12px;
			color: grey;
		}
	}

	ion-icon {
		color: grey;
		&.yellow-star {
		color: yellow;
		}
	}


	
	

}
