<!--
  Generated template for the LoginauthPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <button ion-button menuToggle right class="menu-otherly-home">
      
    </button>
    <ion-title></ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding>
	<p *ngIf="submitAttempt" style="color: #ea6153;">Please fill out all details accurately.</p>	
	<ion-list>
		<form [formGroup]="LoginForm">
			<ion-item>
				<ion-label stacked>Username</ion-label>
				<ion-input type="text" formControlName="email" type="email" [class.invalid]="!LoginForm.controls.email.valid && (LoginForm.controls.email.dirty || submitAttempt)"></ion-input>
			</ion-item>

			<ion-item *ngIf="!LoginForm.controls.email.valid  && (LoginForm.controls.email.dirty || submitAttempt)">
		        <p style="color: #ea6153;">Please enter a valid email address.</p>
		    </ion-item>

			<ion-item>
				<ion-label stacked>Password</ion-label>
				<ion-input formControlName="password" type="password" [class.invalid]="!LoginForm.controls.password.valid && (LoginForm.controls.password.dirty || submitAttempt)"></ion-input>
			</ion-item>

			<ion-item *ngIf="!LoginForm.controls.password.valid  && (LoginForm.controls.password.dirty || submitAttempt)">
	            <p style="color: #ea6153;">Please enter a valid password.</p>
	        </ion-item>

			<button ion-button class="Login" (click)="save()">Create Account</button>
		</form>
	</ion-list>	
</ion-content>
